body{
    background-image: url(./assets/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.choseAncientWrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}
.choseImg{
    width: 20%;
    max-width: 200px;
    border: 2px gold solid;
}
.choseImg:hover{
    transition: 0.5s;
    scale: 1.1;
    cursor: pointer;
}

.difficultWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 40px auto;
    justify-content: center;
    align-items: space-around;
}
.difficultSelector{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    width: 130px;
    height: 30px;
    border: 2px gold solid;
    background-color: rgba(105, 42, 42, 0.274);
    color: rgb(172, 172, 44);
}
.difficultSelector:hover{
    transition: 0.5s;
    scale: 1.1;
    cursor: pointer;
}
.active{
    scale: 1.1;
    border: 2px red solid;
}
.deckSectionWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.deckCreateButton{
    text-align: center;
    width: 160px;
    height: 60px;
    font-size: 25px;
    border: 2px gold solid;
    background-color: rgba(105, 42, 42, 0.274);
    color: rgb(172, 172, 44);
}
.deckCreateButton:hover{
    transition: 0.5s;
    scale: 1.1;
    cursor: pointer;
}
.deckCreateButton:active{
    transition: 0s;
    border: 2px red solid;
}
.cardsSectionWrapper{
    margin-top: 40px;
    width: 100%;
    display: flex;
}
.deckStateWrapper{
    box-sizing: border-box;
    padding: 10px;
    width: 20%;
    max-width: 250px;
    border: 2px gold solid;
    background-color: rgba(105, 42, 42, 0.274);
    color: rgb(172, 172, 44);
}
.stageWrapper{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
.stageNumber{
    width: 100%;
    margin-bottom: 10px;
}
.stageState{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px gold solid;
    color: rgb(172, 172, 44);
}
.greenState{
    background-color: rgba(0, 143, 31, 0.795);
}
.brownState{
    background-color: rgba(143, 105, 0, 0.795);
}
.blueState{
    background-color: rgba(0, 33, 143, 0.795);
}
.cardController{
    width: 20%;
    max-width: 250px;
    border: 2px gold solid;
    margin-left: 40px;
}
.cardController:hover{
    transition: 0.5s;
    scale: 1.1;
    cursor: pointer;
}
.cardController:active{
    transition: 0s;
    border: 2px red solid;
}
.yourCard{
    width: 20%;
    max-width: 250px;
    border: 2px rgba(255, 217, 0, 0.507) solid;
    margin-left: 40px;
}
.cardErr{
    width: 200px;
    height: 150px;
    text-align: center;
    color: red;
    font-size: 25px;
}